{
  "openapi": "3.1.0",
  "info": {
    "title": "AdalahCredit API",
    "description": "Unified API gateway for 8+ AI providers. OpenAI-compatible endpoint with automatic format conversion.",
    "version": "1.0.0",
    "contact": { "email": "support@adalahcredit.com", "url": "https://adalahcredit.com" },
    "license": { "name": "Proprietary" }
  },
  "servers": [
    { "url": "https://blessed-sardine-879.convex.site", "description": "Production" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "description": "Sends messages to the specified AI model and returns a completion. Supports streaming. Compatible with OpenAI API format.",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatCompletionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatCompletionResponse" }
              },
              "text/event-stream": {
                "description": "Streaming response (when stream=true)"
              }
            }
          },
          "400": { "description": "Bad request — missing model or messages" },
          "401": { "description": "Unauthorized — invalid or missing API key" },
          "402": { "description": "Insufficient credits" },
          "403": { "description": "Model not allowed for this API key" },
          "429": { "description": "Rate limit exceeded" },
          "502": { "description": "Provider error" }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "description": "Returns a list of all active models available through AdalahCredit.",
        "tags": ["Models"],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ModelListResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key starting with sk-ac-"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": { "type": "string", "example": "gpt-4o-mini", "description": "Model ID to use" },
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Message" },
            "description": "List of messages in the conversation"
          },
          "stream": { "type": "boolean", "default": false, "description": "Enable streaming response" },
          "temperature": { "type": "number", "minimum": 0, "maximum": 2, "default": 1 },
          "max_tokens": { "type": "integer", "minimum": 1 },
          "top_p": { "type": "number", "minimum": 0, "maximum": 1, "default": 1 }
        }
      },
      "Message": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["system", "user", "assistant"] },
          "content": { "type": "string" }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "chat.completion" },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": { "type": "integer" },
                "message": { "$ref": "#/components/schemas/Message" },
                "finish_reason": { "type": "string" }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            }
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "object": { "type": "string", "example": "model" },
                "owned_by": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
